# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo
*.tmp
.vs/
*.user
*.suo

# Logs
*.log

# Build artifacts
dist/
build/
web-ext-artifacts/
*.xpi

# Coverage
coverage/

# Env
.env
.env.*

# Node.js
node_modules/
npm-debug.log*

# Firefox specific
.firefox-config/
.firefox-profile/

# Source Map files 
*.map

# AMO
.web-ext-config.js