# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo
*.tmp
.vs/
*.user
*.suo

# Logs
*.log

# Build artifacts
dist/
build/
web-ext-artifacts/
*.xpi

# Coverage
coverage/

# Env
.env
.env.*
